@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

:root {
    --bg-title: rgb(4, 70, 4);
    --color-title: rgb(206, 206, 7);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Madimi One';
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.title {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-title);
}

.title h1 {
    color: var(--color-title);
}